.wrapper_desc_item {
    display: flex;
    justify-content: space-between;
}
.right_desc_card {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
}
.bottom_desc_card {
    display: flex;
    flex-direction: column;
}
.img_shop {
    width: 55%;
    border-radius: 15px;
}
.name_desc_card {
    font-size: 44px;
    font-weight: 600;
}
